/* @import url('normalize.css'); */
/* General Demo Style */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	background: #ddd url(/static/images/fabric_plaid.png) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 0;
	overflow: hidden;
}
a{
	color: #555;
	text-decoration: none;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.main-title{
	position: absolute;
	z-index: -1;
	width: 50%;
	padding: 20px 40px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}
.main-title h1{
	font-size: 45px;
	line-height: 52px;
	font-weight: 300;
	color: #777;
}
.main-title h1 strong{
	font-weight: 700;
}
.main-title p{
	font-size: 18px;
	color: #F86738;
}