/**
* Grid container
*/
#tiles {
    list-style-type: none;
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 0;
}

/**
 * Grid items
 */
#tiles li {
    width: 308px;
    background-color: #353637;
    border: 1px solid #353637;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: none; /** Hide items initially to avoid a flicker effect **/
    cursor: pointer;
    padding: 3px;
}

#tiles li img {
    display: block;
}

.pbub {
    background: #131310;
    width: 300px;
    color: #FFF;
    padding: 3px;

    font-family: georgia, serif;
    overflow: visible;
}

/**
 * Grid item text
 */
#tiles li p {
    color: #e5e5e5;
    font-size: 11px;
    line-height: 16px;
    margin: 10px 0 7px 0px;
    padding: 3px;
}

/** General page styling **/

html {
    background-color: #e9e9e9;
}

#main {
    padding: 30px 0 30px 0;
}

header h1 {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin: 30px 0 3px 0;
}

header p {
    text-align: center;
    font-size: 13px;
    color: #777;
    margin: 0;
}

/** Loader **/
.bubble {
    background: #131310 url('/static/images/speech-bubble.jpg') top left no-repeat;
    color: #FFF;
    font-family:   Helvetica, Arial, sans-serif;
    margin: 6px 5px 10px auto;
    overflow: visible;
    padding-top: 20px;
    line-height: 12px;
    width: 300;
}

#loader {
    height: 16px;
    text-align: center;
    padding: 25px 0 25px 0;
}

#loaderCircle {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    background-image: url('/static/images/loader.gif');
}

h3 {
    margin: 10px 10px 0 10px;
    color: #FFF;
    font: 18pt Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
}

.boxgrid {
    width: 325px;
    height: 260px;
    margin: 10px;
    float: left;
    background: #161613;
    border: solid 2px #8399AF;
    overflow: hidden;
    position: relative;
}

.boxgrid img {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

.boxgrid p {
    padding: 0 10px;
    color: #afafaf;
    font-weight: bold;
    font: 10pt "Lucida Grande", Arial, sans-serif;
}

.boxcaption {
    float: left;
    position: absolute;
    background: #000;
    height: 100px;
    width: 100%;
    opacity: .8;
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.captionfull .boxcaption {
    top: 260;
    left: 0;
}

.caption .boxcaption {
    top: 220;
    left: 0;
}

h3 a {
}